In [1]:
nombre = "Ruben"
print("Hello", nombre, "cómo estas?")

Hello Ruben cómo estas?

In [2]:
cadena = "Hello {} cómo estas?".format(nombre)
cadena

'Hello Ruben cómo estas?'

In [5]:
nombre = "Ruben Arrebola de Haro"
cadena = "Hello {name} cómo estas?".format(name=nombre)
cadena2 = "Me llamo {name} y tengo {age} años".format(name=nombre, age=22)
cadena2

'Me llamo Ruben Arrebola de Haro y tengo 22 años'

In [11]:
# Ejemplos con cadenas de caracteres
palabra = "ejemplo"
print("{:>30}".format(palabra)) # Alineación a la derecha 30 caracteres vacíos hacia su izquierda
print("{:30}".format(palabra))  # Alineación a la izquierda y 30 caracteres vacíos en su derecha
print("{:^30}".format(palabra)) # Alineación centrado y 15 caracetres vacíos por lado lados, 30 / 2

                       ejemplo
ejemplo
           ejemplo

In [16]:
# Ejemplo con enteros

# - Alineamos los numeros a la derecha 4 caracteres

print("** Alineamos los numeros a la derecha 4 caracteres **")
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

# - Alineamos los numeros a la derecha 4 caracteres y rellenamos esos caracteres que falten con ceros

print("\n** Alineamos los numeros a la derecha 4 caracteres y rellenamos esos caracteres que falten con ceros **")
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

** Alineamos los numeros a la derecha 4 caracteres **
  10
 100
1000

** Alineamos los numeros a la derecha 4 caracteres y rellenamos esos caracteres que falten con ceros **
0010
0100
1000

In [37]:
# Ejemplo con numero flotantes

# - Formateo de floatantes rellenados con espacios

print("** Mantenemos los decimales con el punto a la misma altura y rellenamos con espacios lo que sobra ** ")
print("{:7.3f}".format(3.14152627))
print("{:7.3f}".format(167.34))

print("\n** Lo mismo pero rellenamos con ceros lo que sobra ** ")
print("{:09.4f}".format(3.14152627))
print("{:09.4f}".format(1657.34))

** Mantenemos los decimales con el punto a la misma altura y rellenamos con espacios lo que sobra **
  3.142
167.340

** Lo mismo pero rellenamos con ceros lo que sobra **
0003.1415
1657.3400